{% extends "base.html" %}

{% block home %}



	<div class="page-header">
	        <h1>Kolkata Bus Routes </h1>

	</div>

	<div class="container">
		<div class="col-md-12">

	      <p>  This website lets you search bus routes in Kolkata. You can get information on the buses between any two locations or look up a specific bus route number. </p>

	    </div>


    <div class="row">
        
        <div class="col-md-8">
           
            <!-- android button -->
  				<a class="btn btn-lg btn-success big-btn android-btn" href="#">
  				<img width="80px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"><div class="btn-text"><small>Available on</small><br><strong>Google Play</strong></div></a>
            
                   
            
        </div>
    </div>
	</div>





{% endblock %}