{% extends "base.html" %}

{% block content %}

	<div class="jumbotron">
        
		<p> <a href="/search">Back to search</a></p> <br>
			<div class="table-responsive">
				<table class="table">
			    <tbody>
			        <tr>
			            <th>From</th>
			            <th>To</th>
			            <th>Routes</th>
			        </tr>
			        <tr>
			        	<td>{{start}}</td>
			        	<td>{{end}}</td>
			        	{% if result %}
				        	<td> {% for i in result %}

									<a href="">{{i}} </a>
								    
								{% endfor %}
							</td>
						{% else %}
							<td> <strong>No routes found.</strong></td>
						{% endif %}

			        </tr>
            </div>	

				
			
	</div>

{% endblock %}