{% extends "base.html" %}

{% block content_rules %}



	<div class="page-header">
	        <h1>Instructions for adding/editing a entry </h1>

	        <!--p class="lead">Disable the responsiveness .</p-->
	</div>

	<div class="page-content">

	      <p>1. There are 5 fields for every entry: start, end, bus number, bus type, via. </p>
	      <p>2. 'start' denotes starting of the respective bus</p>
	      <p>3. 'end' denotes the last stop of the respective bus </p>
	      <p>4. 'bus number' denotes the respective bus numer.</p>
	      <p>5. 'bus type' whether the bus is Private/Mini/Government.</p>
	      <p>6. 'via' denotes all the stops the respective bus passes. </p>
	      <p>7. Check if the respective entry is a new entry or an edit of the existing record.</p>
	      <p>8. Add as much as entry as possible, every record will be verified and then merged with the existing database. </p>
	      <p>9. Every week the original database will be updated once. </p>
	</div>





{% endblock %}